/* @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap'); */
@font-face {
  font-family: "Inter";
  /* src: url("../../static/fonts/inter_web/Inter-Regular.woff")   format("woff"); */
  src: url("../../static/fonts/inter_web/Inter-Light.woff")   format("woff");
}

html {
  /* font-family: 'Major Mono Display', monospace; */
  font-family: "Inter";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
