@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

html {
  font-family: 'Major Mono Display', monospace;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
